<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>
<h2 class="focused-title">Új utalás hozzáadása</h2>

<div class="h5"></div>
<div class="middle">
    <form method="post">
        <input required placeholder="Dátum" type="date" name="date" value="<%= (typeof transfer === 'undefined') ? new Date().toISOString().slice(0,10) : transfer.date %>" autofocus><br>
        <input required placeholder="Összeg" type="number" name="amount" value="<%= (typeof transfer === 'undefined') ? '' : transfer.amount %>"><br>
        <table class="notable">
            <tr>
                <td><h5>Utaló</h5></td>
                <td></td>
                <td><h5>Kedvezményezett</h5></td>
            </tr>
            <tr>
                <td class="left">

                    <%users.forEach(function(cur){%>
                        <input required type="radio" id="a<%=cur._id%>" value="<%=cur._id%>" class="radio" <%  if (typeof transfer !== 'undefined') if (transfer.userfrom._id.toString() === cur._id.toString()){ %> checked <%}%> name="payed">
                        <label for="a<%=cur._id%>">
                            <div class="usertag" <% if (typeof cur.color !== 'undefined'){ %> style="background-color:<%=cur.color%>" <%} %>>    <%=cur.name%>     </div><br>
                        </label>
                    <%});%>
                </td>
                <td><img class="arrow-right" src="/images/arrow-right.svg" alt="arrow-right" /></td>
                <td class="right">
                    <%users.forEach(function(cur){%>
                        <label for="b<%=cur._id%>">
                            <div class="usertag" <% if (typeof cur.color !== 'undefined'){ %> style="background-color:<%=cur.color%>" <%} %>>    <%=cur.name%>     </div>
                        </label>
                        <input required type="radio" id="b<%=cur._id%>" value="<%=cur._id%>" class="radio" <% if(typeof transfer !== 'undefined') {if (transfer.userto._id.toString() === cur._id.toString()){ %> checked <%}}%> name="payedto"><br>
                    <%});%>
                </td>
            </tr>
        </table>

        <div class="h5"></div>
        <input class="sbtn_with_h4" type="submit" value="Mentés">
        <a class="sbtn" href="/list"><h4>Mégse</h4></a>
    </form>
</div>

</body>
</html>