<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>
<h2 class="focused-title">Új költés hozzáadása</h2>

<div class="h5"></div>
<div class="middle">
    <form method="post">
        <input placeholder="Megnevezés" name="name" value="<%= (typeof expense === 'undefined') ? '' : expense.name%>" minlength="3" maxlength="15"><br>
        <input placeholder="Dátum" name="date" type="date" value="<%= (typeof expense === 'undefined') ? '' : expense.date%>"><br>
        <input placeholder="Összeg" name="amount" type="number" value="<%= (typeof expense === 'undefined') ? '' : expense.amount%>" min="0" max="10000000"><br>
        <table class="notable">
            <tr>
                <td><h5>Fizetett</h5></td>
                <td></td>
                <td><h5>Részvett</h5></td>
            </tr>
            <tr>
                <td class="left">
                    <%users.forEach(function(cur){%>
                        <input type="radio" id="a<%=cur._id%>" value="<%=cur._id%>" class="radio" <%if (typeof expense !== "undefined") {if (expense.userfrom === (cur._id)){ %> checked <%}}%> name="payed">
                        <label for="a<%=cur._id%>">
                            <div class="usertag bg-<%=cur.color%>">    <%=cur.name%>     </div><br>
                        </label>
                    <%});%>
                    <!--
                    <input type="radio" id="3" value="value" class="radio" name="payed">
                    <label for="3">
                        <div class="usertag bg-red">undefined</div><br>
                    </label>
                    -->
                </td>
                <td><img class="arrow-right" src="/images/arrow-right.svg" alt="arrow-right" /></td>
                <td class="right">
                    <%users.forEach(function(cur){%>
                        <label for="b<%=cur._id%>">
                            <div class="usertag bg-<%=cur.color%>">    <%=cur.name%>     </div>
                        </label>
                        <input type="checkbox" id="b<%=cur._id%>" value="<%=cur._id%>" class="checkbox" <%if (typeof expense !== "undefined") { if (expense.userto.includes(cur._id)){ %> checked <%}}%> name="payedto"><br>
                    <%});%>
                    <!--
                    <label for="b3">
                        <div class="usertag bg-red">undefined</div>
                    </label>
                    <input type="checkbox" id="b3" value="value" class="checkbox" name="payedto"><br>
                    -->
                </td>
            </tr>
        </table>

        <div class="h5"></div>
        <input class="sbtn_with_h4" type="submit" value="Mentés">
        <a class="sbtn" href="/summary"><h4>Mégse</h4></a>
    </form>
</div>

</body>
</html>