<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>
<div class="floating-top">
    <div class="card bg-green">
        <h5>Összes utalás</h5>
        <h2>    <%= tradb %> db </h2>
        <a href="/add_transfer">Új utalás</a>
    </div>
    <div class="card bg-blue">
        <h5>Összes költés</h5>
        <h2>    <%= expdb %> db </h2>
        <a href="/add_expense">Új költés</a>
    </div>
</div>


<div class="h3"></div>
<div class="secdiv">
    <table class="notable">
        <tr>
            <td>
                <h3>Költések</h3>
                <a href="/add_expense" class="sbtn"><h4> + Új költés </h4></a>
            </td>
            <td class="outertable">
                <div class="scroll">
                    <table>
                        <tbody>
                        <tr>
                            <th><p class="left"> &nbsp; &nbsp; #</p></th>
                            <th><p class="left">Megnevezés</p></th>
                            <th><p>Dátum</p></th>
                            <th><p>Fizetett</p></th>
                            <th class="min-width"></th>
                            <th><p>Résztvevők</p></th>
                            <th class="w7"><p>Összeg</p></th>
                            <th class="actioncol"></th>
                        </tr>

                        <% expenses.forEach(function(cur){ %>
                        <tr>
                            <td><p title="<%= cur._id%>" class="left">   ...<%= cur._id.toString().slice(-4) %>    </p></td>
                            <td><p>    <%= cur.name %>   </p></td>
                            <td><p class="middle">    <%= cur.date %>    </p></td>
                            <td class="middle">
                                <% const curuserfrom =  users.find(u => u._id === cur.userfrom) %>


                                <div class="usertag bg-<%= typeof cur.userfrom === 'undefined' ? '' : cur.userfrom.color %>">
                                    <%= typeof cur.userfrom === 'undefined' ? '' : cur.userfrom.name %>
                                </div>
                            </td>
                            <td><img class="arrow-right" src="/images/arrow-right.svg" alt="arrow-right"/></td>
                            <td class="middle">

                                <% cur.userto.forEach(function(curuser){ %>
                                    <div class="usertag bg-<%= typeof curuser === 'undefined' ? '' : curuser.color %>">    <%= typeof curuser === 'undefined' ? '' : curuser.name %>    </div>
                                <% }); %>

                            </td>
                            <td><p class="right bold">    <%= cur.amount.toLocaleString({minimumIntegerDigits: 3, useGrouping: true}).replace(/,/g, ' ') %> Ft </p></td>
                            <td class="min-width right">
                                <a href="/edit_expense/<%= cur._id %>">
                                    <img src="/images/pencil.svg" alt="edit"/>
                                </a>
                                <a href="/delete_expense/<%= cur._id %>">
                                    <img src="/images/trash.svg" alt="delete"/>
                                </a>
                            </td>
                        </tr>
                        <% }); %>

                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>


<div class="secdiv">
    <table class="notable">
        <tr>
            <td>
                <h3>Utalások</h3>
                <a href="/add_transfer" class="sbtn"><h4> + Új utalás </h4></a>
            </td>
            <td class="outertable">
                <div class="scroll">
                    <table>
                        <tbody>
                        <tr>
                            <th><p class="left"> &nbsp; &nbsp; #</p></th>
                            <th><p>Utaló</p></th>
                            <th class="min-width"></th>
                            <th class="w7"><p>Kedvezményezett</p></th>
                            <th><p>Dátum</p></th>
                            <th class="w7"><p>Összeg</p></th>
                            <th class="actioncol"></th>
                        </tr>
                        <% transfers.forEach(function(cur){ %>
                        <tr>
                            <td><p class="left">   ...<%= cur._id.toString().slice(-4) %>   </p></td>

                            <td class="middle">
                                <div class="usertag bg-<%= cur.userfrom.color %>">    <%= cur.userfrom.name %>    </div>
                            </td>
                            <td class="min-width"><img class="arrow-right" src="/images/arrow-right.svg" alt="arrow-right"/></td>

                            <td class="middle min-width">
                                <div class="usertag bg-<%= cur.userto.color %>">    <%= cur.userto.name %>    </div>
                            </td>

                            <td><p class="middle">     <%= cur.date %>     </p></td>
                            <td><p class="right bold">      <%= cur.amount.toLocaleString({minimumIntegerDigits: 3, useGrouping: true}).replace(/,/g, ' ') %> Ft</p></td>
                            <td class="min-width right">
                                <a href="/edit_transfer/<%= cur._id %>">
                                    <img src="/images/pencil.svg" alt="edit"/>
                                </a>
                                <a href="/delete_transfer/<%= cur._id %>">
                                    <img src="/images/trash.svg" alt="delete"/>
                                </a>
                            </td>
                        </tr>
                        <% }); %>

                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

</body>
</html>