<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>

<div class="floating-top">
    <div class="card bg-red">
        <h5>A spórolós</h5>
        <h2>    <%=spentleast%>    </h2>
    </div>
    <div class="card bg-green">
        <h5>Összesen elszámolt</h5>
        <h2>    <%=doneall%> Ft   </h2>
        <a href="/add_transfer">Új utalás</a>
    </div>
    <div class="card bg-blue">
        <h5>Összesen költött</h5>
        <h2>    <%=spentall%> Ft    </h2>
        <a href="/add_expense">Új költés</a>
    </div>
</div>


<table class="summary_table">
    <tbody>
    <tr>
        <th><p class="left mw30">#</p></th>
        <th><p class="right">Költésben részesült</p></th>
        <th><p class="right">Fizetett</p></th>
        <th><p class="right">Utalt</p></th>
        <th><p class="right">Utaltak neki</p></th>
        <th><p class="right">Összesített mérleg</p></th>
    </tr>
    <% users.forEach(function(cur){ %>
    <% const curfinal = final.find(u => u.uid === cur._id) %>
    <tr class="bgo-<%=cur.color%>">
        <td class="left">
            <div class="usertag bg-<%=cur.color%> hideonhover">    <%=cur.name%>     </div>
            <div class="usertag bg-<%=cur.color%> showonhover">    @<%=cur.revtag%>     </div>
            <a href="/edit_user/<%=cur._id%>">
                <img src="/images/pencil.svg" alt="edit" />
            </a>
            <a href="/delete_user/<%=cur._id%>">
                <img src="/images/trash.svg" alt="delete" />
            </a>
        </td>
        <td><p class="right">        <%=curfinal.spent%>        Ft    </p></td>
        <td><p class="right">        <%=curfinal.paid %>        Ft    </p></td>
        <td><p class="right">        <%=curfinal.transferfrom%> Ft    </p></td>
        <td><p class="right">        <%=curfinal.transferto%>   Ft    </p></td>
        <td><p class="right bold">   <%=curfinal.balance%>      Ft    </p></td>

    </tr>
    <% }); %>

    <tr class="notable">
        <td>
            <a href="/add_user" class="usertag only-outline"> + Új user </a>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>


    </tbody>
</table>
<div class="middle">

    <a href="/add_expense" class="sbtn"><h4> + Új költés </h4></a>
    <a href="/add_transfer" class="sbtn"><h4> + Új utalás</h4></a>

</div>


</body>
</html>