<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>

<div class="floating-top">
    <div class="card bg-red">
        <h5>A spórolós</h5>
        <h2>    <%= spentleast %>    </h2>
    </div>
    <div class="card bg-green">
        <h5>Összesen elszámolt</h5>
        <h2 class="middle">    <%= doneall.toLocaleString({
                minimumIntegerDigits: 3,
                useGrouping: true
            }).replace(/,/g, ' ') %> Ft </h2>
        <a href="/add_transfer">Új utalás</a>
    </div>
    <div class="card bg-blue">
        <h5>Összesen költött</h5>
        <h2 class="middle">    <%= spentall.toLocaleString({
                minimumIntegerDigits: 3,
                useGrouping: true
            }).replace(/,/g, ' ') %> Ft </h2>
        <a href="/add_expense">Új költés</a>
    </div>
</div>
<table class="summary_table">
    <tbody>
    <tr>
        <th><p class="left mw30">#</p></th>
        <th><p class="right">Költésben részesült</p></th>
        <th><p class="right">Fizetett</p></th>
        <th><p class="right">Utalt</p></th>
        <th><p class="right">Utaltak neki</p></th>
        <th><p class="right">Összesített mérleg</p></th>
    </tr>

    <% users.forEach(function(cur){ %>

        <tr class="bgo-<%= cur.color %>">
            <td class="left">
                <div class="usertag hideonhover" style="background-color: <%= cur.color %>;">    <%= cur.name %>     </div>
                <div class="usertag showonhover" style="background-color: <%= cur.color %>;"> @<%= cur.revtag %>     </div>
                <a href="/edit_user/<%= cur._id %>">
                    <img src="/images/pencil.svg" alt="edit"/>
                </a>
                <a  <% if(final[cur._id].deleteable===1) {%> href="/delete_user/<%= cur._id %>" <% } else { %> style="opacity: 50%;" title="A user még résztvesz legalább 1 tranzakcióban, ezért nem törölhető." <% } %> >
                    <img src="/images/trash.svg" alt="delete"/>
                </a>
            </td>
            <td><p class="right">        <%= final[cur._id].spent.toLocaleString({
                        minimumIntegerDigits: 3,
                        useGrouping: true
                    }).replace(/,/g, ' ') %> Ft </p></td>
            <td><p class="right">        <%= final[cur._id].paid.toLocaleString({
                        minimumIntegerDigits: 3,
                        useGrouping: true
                    }).replace(/,/g, ' ') %> Ft </p></td>
            <td><p class="right">        <%= final[cur._id].transferfrom.toLocaleString({
                        minimumIntegerDigits: 3,
                        useGrouping: true
                    }).replace(/,/g, ' ') %> Ft </p></td>
            <td><p class="right">        <%= final[cur._id].transferto.toLocaleString({
                        minimumIntegerDigits: 3,
                        useGrouping: true
                    }).replace(/,/g, ' ') %> Ft </p></td>
            <td><p class="right bold">   <%= final[cur._id].balance.toLocaleString({
                        minimumIntegerDigits: 3,
                        useGrouping: true
                    }).replace(/,/g, ' ') %> Ft </p></td>

        </tr>
    <% }); %>

    <tr class="notable">
        <td>
            <a href="/add_user" class="usertag only-outline"> + Új user </a>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>


    </tbody>

</table>
<div class="middle">

    <a href="/add_expense" class="sbtn"><h4> + Új költés </h4></a>
    <a href="/add_transfer" class="sbtn"><h4> + Új utalás</h4></a>

</div>


</body>
</html>